body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

#root {
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 10px 0;
  z-index: 1000;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff6347;
}

.nav-link:active {
  color: #ff4500; /* OrangeRed color */
}

h1 {
  text-align: center;
  color: white;
  margin-top: 60px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
